tmp
bin
build

TiSDWebImage.xcodeproj/project.xcworkspace/xcshareddata/TiSDWebImage.xccheckout

TiSDWebImage.xcodeproj/project.xcworkspace/xcuserdata/steven.xcuserdatad/UserInterfaceState.xcuserstate

TiSDWebImage.xcodeproj/xcuserdata/steven.xcuserdatad/xcschemes/TiSDWebImage.xcscheme

TiSDWebImage.xcodeproj/xcuserdata/steven.xcuserdatad/xcschemes/Build & Test.xcscheme

TiSDWebImage.xcodeproj/xcuserdata/steven.xcuserdatad/xcschemes/xcschememanagement.plist
